.search-bar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 0;
  background-color: var(--light-100);
  -webkit-box-shadow: 0px 3px 29px -4px var(--grey-100);
  -moz-box-shadow: 0px 3px 29px -4px var(--grey-100);
  box-shadow: 0px 3px 29px -4px var(--grey-100);
  z-index: 100;
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
}
.search-bar input {
  width: 200px;
  padding: 8px;
  font-size: 16px;
  outline: none;
  border: 1px solid var(--black-500);
  border-radius: 5px;
  margin-right: 12px;
  transition: 0.3s;
}
.search-bar input:focus {
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 3px 29px -4px var(--grey-100);
  -moz-box-shadow: 0px 3px 29px -4px var(--grey-100);
  box-shadow: 0px 3px 29px -4px var(--grey-100);
}
.search-bar input:not(:focus) {
  border-color: var(--black-500) !important;
}
