@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
:root {
  --black-100: #495464;
  --black-500: black;
  --light-100: #ffffff;
  --light-200: #f4f4f2;
  --grey-100: rgba(173, 168, 173, 1);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.container {
  max-width: 1250px;
  padding: 0 10px;
}
